@model mvc_crud_ogrencikayitprojesi.Models.Table

@{
    ViewBag.Title = "Öğrenci Detay Sayfası - MVC CRUD Entity Framework || Öğrenci Kayıt Sayfası";
}

<h2>Detaylar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        @*Fotoğraf karesini sisteme yükleyebilmek için:*@
        <dt>
            @Html.DisplayNameFor(model => model.OgrFotograf)
        </dt>

        <dd>
            <img src="@Model.OgrFotograf" width="150" height="150" />
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.OgrAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrMail)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.OgrFotograf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrFotograf)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OgrAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAdres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.OgrID }) |
    @Html.ActionLink("Öğrenci Listesi", "Index")
</p>
